.ImageSection {
    display: flex;
    margin: 4rem 0;

    .img {
        width: 500px;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .about-info {
        margin-left: 2rem;

        h4 {
            font-size: 2rem;
        }
    }
}

.about-details {
    // display: flex;

    // p {
    //     padding: 0.3rem 0
    // }

    // .right-section {
    //     margin-left: 2.3rem;
    // }
    .about-details-item {
        display: flex;
        p:nth-child(2) {
            margin-left: 20px;
        }
    }
}

.btn {
    padding: 10px 15px;
    margin-top: 1rem;
    outline: none;
    border: none;
    background-color: #037FFF;
    text-transform: uppercase;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0.3rem;
        background-color: #a4acc4;
        bottom: 0;
        left: 0;
        transition: all 0.4s ease-in-out;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .ImageSection {
        .about-info {
            margin-left: 1.5rem;
        }

        .about-details {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 865px) {
    .ImageSection {
        flex-direction: column;

        .img {
            width: auto;
            max-width: 400px;
        }

        .about-info {
            margin-left: 0;

            h4 {
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .about-details {
        .about-details-item {
            flex-direction: column;
            p:nth-child(2) {
                margin-left: 0;
            }
        }
    }
}