.SkillsSection {
    margin: 3.5rem 0;
}

.skills-container {
    .skill-text {
        p.skill-bar {
            margin-bottom: 0;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        .skill-bar {
            padding: 0;
        }

        .skill-progress {
            padding: 20px;
            width: 100%;
            .progress {
                height: 0.5rem;
                background-color: #0381ff3f;
                position: relative;
                .inner-progress {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 100%;
                    background-color: #037fff;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .SkillsSection {
        margin: 1.5rem 0;
    }
}