.Homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    .hero-text {
        text-align: center;
        color: #fff;
        font-size: 3.6rem;
        span {
            color: #037fff;
        }
    }
    .h-sub-text {
        text-align: center;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 17px 0 ;
        .icon-holder {
            margin: 0 10px;
            .icon {
                font-size: 28px;
                color: #a4acc4;
                transition: 0.3s all;
                &:hover {
                    color: #037fff;
                }
            }
        }
    }
}